{% extends 'base.html' %}

{% block body %}
<style>
    /* General styles */
    body {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    .content {
        margin-left: 270px;
        padding: 20px;
        transition: margin-left 0.3s;
        padding-top: 76px; /* Add padding to ensure content doesn't overlap with navbar */
    }

    .content h1 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    table, th, td {
        border: 1px solid #dee2e6;
    }

    th, td {
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: #007bff;
        color: white;
    }
</style>

<div class="content">
    <h1>Dashboard</h1>
</div>

{% endblock %}

{% comment %} <div class="sidebar" id="sidebar">
    <h1>{{ company_name }}</h1>
    <ul>
        <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
        <li>
            <a href="#" onclick="toggleSubMenu(event)"><i class="fas fa-folder"></i>RFQ</a>
            <ul>
                <li><a href="/rfq">Create</a></li>
                <li><a href="/rfq2">Change</a></li>
                <li><a href="/rfq">Display</a></li>
                <li><a href="/rfq2">Release</a></li>
            </ul>
        </li>
        <li><a href="/account2"><i class="fas fa-sync"></i>Review</a></li>
    </ul>
</div> {% endcomment %}